<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :attribute %><br />
    <%= f.collection_select :attribute, Attribute.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :attack_points %><br />
    <%= f.number_field :attack_points %>
  </div>
  <div class="field">
    <%= f.label :defense_points %><br />
    <%= f.number_field :defense_points %>
  </div>

  <div class="field">
    <%= f.label :tokens %><br />
    <%= f.check_box :tokens %>
  </div>
  <div class="field">
    <%= f.label :counters %><br />
    <%= f.check_box :counters %>
  </div>
  <div class="field">
    <%= f.label :coins %><br />
    <%= f.check_box :coins %>
  </div>
  <div class="field">
    <%= f.label :dice %><br />
    <%= f.check_box :dice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
