= form_for(@monster) do |f|
  - if @monster.errors.any?
    #error_explanation
      %h2
        = pluralize(@monster.errors.count, "error")
        prohibited this monster from being saved:
      %ul
        - @monster.errors.full_messages.each do |msg|
          %li= msg
  #fields
    #standard
      #top.section
        .field= f.text_field :name, :placeholder => 'Name'
        .field= f.collection_select :attribute, Attribute.all, :id, :name, @monster.attribute ? { :selected => @monster.attribute.id } : {}
        .field= f.number_field :level, :placeholder => 'Level'
      #middle.section
        .field= @monster.number ? image_tag(card_image_url(@monster), { :alt => @monster.name }) : nil
        .field= f.text_field :number, :placeholder => 'Card Number'
        .field= f.collection_select :monster_type, MonsterType.all, :id, :name, @monster.monster_type ? { :selected => @monster.monster_type.id } : {}
        .field= f.collection_select :monster_kind, MonsterKind.all, :id, :name, @monster.monster_kind ? { :selected => @monster.monster_kind.id } : {}
        .field
          = f.label :effect
          \:
          \#{f.check_box :is_effect}
        .field
          = f.label :tuner
          \:
          \#{f.check_box :is_tuner}
        .field
          = f.label :description
          %br/
          = f.text_area :description, :cols => 40, :rows => 10
      #bottom.section
        .field
          = f.label :attack_points
          %br/
          = f.number_field :attack_points
        .field
          = f.label :defense_points
          %br/
          = f.number_field :defense_points
      .field.section
        = f.label :quantity
        %br/
        = f.number_field :quantity
    #extras.section
      %h3 Extras
      .field
        = f.label :tokens
        %br/
        = f.check_box :tokens
      .field
        = f.label :counters
        %br/
        = f.check_box :counters
      .field
        = f.label :coins
        %br/
        = f.check_box :coins
      .field
        = f.label :dice
        %br/
        = f.check_box :dice
  .actions.section
    = f.submit
