<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div id="fields">
		<div id="standard">
			<div id="top" class="section">
				<div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </div>
			  <div class="field">
			    <%= f.label :attribute %><br />
			    <%= f.collection_select :attribute, Attribute.all, :id, :name, { :selected => @monster.attribute.id } %> 
			  </div>

			  <div class="field">
			    <%= f.label :level %><br />
			    <%= f.number_field :level %>
			  </div>
			</div>
			
			<div id="middle" class="section">
				<div class="field">
			    <%= f.label :image_url %><br />
			    <%= f.text_field :image_url %>
			  </div>

				  <div class="field">
				    <%= f.label :number %><br />
				    <%= f.text_field :number %>
				  </div>

				<div class="field">
					<%= f.label :monster_type %>
					<%= f.collection_select :monster_type, MonsterType.all, :id, :name, { :selected => @monster.monster_type.id } %>
				</div>

				<div class="field">
					<%= f.label :monster_effects %><br />
					<%= f.collection_select :monster_effect_ids, MonsterEffect.all, :id, :name, 
						                      {}, { :selected => @monster.monster_effects, :multiple => true } %>
				</div>
			  <div class="field">
			    <%= f.label :description %><br />
			    <%= f.text_area :description, :cols => 40, :rows => 10 %>
			  </div>

			</div>  

			<div id="bottom" class="section">
			  <div class="field">
			    <%= f.label :attack_points %><br />
			    <%= f.number_field :attack_points %>
			  </div>
			  <div class="field">
			    <%= f.label :defense_points %><br />
			    <%= f.number_field :defense_points %>
			  </div>
			</div>		
		  
		<div class="field section">
		  <%= f.label :quantity %><br />
	    <%= f.number_field :quantity %>
	  </div>
		
		</div>
		<div id="extras" class="section">
			<h3>Extras</h3>
		  <div class="field">
		    <%= f.label :tokens %><br />
		    <%= f.check_box :tokens %>
		  </div>
		  <div class="field">
		    <%= f.label :counters %><br />
		    <%= f.check_box :counters %>
		  </div>
		  <div class="field">
		    <%= f.label :coins %><br />
		    <%= f.check_box :coins %>
		  </div>
		  <div class="field">
		    <%= f.label :dice %><br />
		    <%= f.check_box :dice %>
		  </div>
		</div>
	</div>
	
  <div class="actions section">
    <%= f.submit %>
  </div>
<% end %>
