#image
  = @monster.number ? image_tag(card_image_url(@monster), { :alt => @monster.name }) : nil
= form_for(@monster) do |f|
  - if @monster.errors.any?
    #error_explanation
      %h2
        = pluralize(@monster.errors.count, "error")
        prohibited this monster from being saved:
      %ul
        - @monster.errors.full_messages.each do |msg|
          %li= msg
  #card
    #fields
      #standard
        #top.section
          .field
            = f.label :name
            %br/
            = f.text_field :name
          .field
            = f.label :attribute
            %br/
            = f.collection_select :attribute, Attribute.all, :id, :name, @monster.attribute ? { :selected => @monster.attribute.id } : {}
          .field
            = f.label :level
            %br/
            = f.number_field :level
        #middle.section
          .field
            = f.label :number
            %br/
            = f.text_field :number
          .field
            = f.label :monster_type
            \:
            \#{f.collection_select :monster_type, MonsterType.all, :id, :name, @monster.monster_type ? { :selected => @monster.monster_type.id } : {}}
          .field
            = f.label :monster_kind
            \:
            \#{f.collection_select :monster_kind, MonsterKind.all, :id, :name, @monster.monster_kind ? { :selected => @monster.monster_kind.id } : {}}
          .field
            = f.label :is_effect
            \:
            \#{f.check_box :is_effect}
          .field
            = f.label :is_tuner
            \:
            \#{f.check_box :is_tuner}
          .field
            = f.label :description
            %br/
            = f.text_area :description, :cols => 40, :rows => 10, :class => 'description'
        #bottom.section
          .field
            = f.label :attack_points
            %br/
            = f.number_field :attack_points
          .field
            = f.label :defense_points
            %br/
            = f.number_field :defense_points
          .field
            = f.label :rarity
            %br/
            = f.collection_select :rarity, Rarity.all, :id, :name, @monster.rarity ? { :selected => @monster.rarity.id } : {}
        .field.section
          = f.label :quantity
          %br/
          = f.number_field :quantity
      = render :partial => 'shared/extras', :locals => {:f => f}
    .actions.section
      = f.submit
