<style type="text/css">
  td img { 
    width: 50px;
  }
</style>
<h1>Listing All Monsters</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
	  <th>Attribute</th>
    <th>Image</th>
    
    <th>Type</th>
    <th></th>
    <th></th>
    
    <th>Quantity</th>
    <th>Tokens</th>
    <th>Counters</th>
    <th>Coins</th>
    <th>Dice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monsters.each do |card| %>
  <tr>
    <td><%= card.number %></td>
    <td><%= card.name %></td>
    <td><%= card.description %></td>
    <td><%= card.attribute.name %></td>
    <td><%= image_tag(card_image_url(card), {:alt => card.name}) %></td>

    <td><%= card.monster_kind ? card.monster_kind.name : nil %></td>
    <td><%= card.effect? ? '/Effect' : nil %></td>
    <td><%= card.tuner? ? '/Tuner' : nil %></td>

    <td><%= card.quantity %></td>
    <td><%= card.tokens %></td>
    <td><%= card.counters %></td>
    <td><%= card.coins %></td>
    <td><%= card.dice %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_monster_path(card) %></td>
    <td><%= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_monster_path %>
