	<div id="extras" class="section">
		<h3>Extras</h3>
	  <div class="field">
	    <%= f.label :tokens %><br />
	    <%= f.check_box :tokens %>
	  </div>
	  <div class="field">
	    <%= f.label :counters %><br />
	    <%= f.check_box :counters %>
	  </div>
	  <div class="field">
	    <%= f.label :coins %><br />
	    <%= f.check_box :coins %>
	  </div>
	  <div class="field">
	    <%= f.label :dice %><br />
	    <%= f.check_box :dice %>
	  </div>
	</div>
</div>