<h1>Listing All Cards</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card._type %></td>
    <td><%= card.kind %></td>
    <td><%= card.effect? ? ' / Effect' : nil %></td>
    <td><%= card.tuner? ? ' / Tuner' : nil %></td>
    <td><%= card.number %></td>
    <td><%= card.name %></td>
    <td><%= card.description %></td>
    <td><%= image_tag(card_image_url(@monster), {:alt => @monster.name}) %></td>
    <td><%= card.quantity %></td>
    <td><%= link_to 'Show', card %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monster', new_monster_path %>
<%= link_to 'New Spell', new_spell_path %>
<%= link_to 'New Trap', new_trap_path %>