<h1>Listing All Cards</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Number</th>
    <th>Name</th>
    <th>Image</th>
    <th>Rarity</th>
    <th>Quantity</th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card._type %></td>
    <td><%= link_to card.number, card %></td>
    <td><%= link_to card.name, card %></td>
    <td><%= image_tag(card_image_url(card), {:alt => card.name}) %></td>
		<td><%= card.rarity ? card.rarity.name : nil %></td>
    <td><%= card.quantity %></td>
    <td><%= link_to 'Show', card %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monster', new_monster_path %>
<%= link_to 'New Spell', new_spell_path %>
<%= link_to 'New Trap', new_trap_path %>