<!DOCTYPE html>
<html>
<head>
  <title>Duel Belt</title>
  <%= stylesheet_link_tag    "application" %>
	<style type="text/css"><%= yield :stylesheets %></style>
	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
